###########
# indexes options
###########

{% for index in indexes %}
    {% if index.type == 'xmlpipe2' %}
        source  {{index.name}}_source {
            type = xmlpipe2
            xmlpipe_command = cat {{index.source_file}}
        }

        index {{index.name}} {
            source = {{index.name}}_source
            path = {{index.path}}
            docinfo = extern
            morphology = none
            min_word_len = 3
            charset_type = utf-8
            html_strip = 0
            min_infix_len = 3
            enable_star = 1
        }
    {% elseif index.type == 'distributed' %}
        index {{ index.name }} {
            type = distributed
            {% for distributed_index in index.distributed_indexes %}
                local = {{ distributed_index }}
            {% endfor %}
        }
    {% endif %}
{% endfor %}

###########
# indexer options
###########

indexer
{
        mem_limit = 512M
        #max_iops = 40
        #max_iosize = 1048576
}

###########
# searchd options
###########

searchd
{
        #listen = 3315
        listen = {{ config.port }}
        #listen = 10.1.1.9:3316:mysql41
        log = {{ config.log_path }}
        #query_log = /opt/local/var/log/sphinxsearch/irr.by/sphinx-query.log
        pid_file = {{ config.pid_path }}
        read_timeout = 5
        max_children = 30
        max_matches = 1000000
        seamless_rotate = 1
        preopen_indexes = 1
        unlink_old = 1
        #workers = prefork
        #workers = threads
}

